.cabecalho {
  font-family: var(--fonte);
  font-weight: var(--fonte-regular);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  gap: 1.2em;
  align-items: center;
  background-color: var(--branco);
  position: relative;
  padding: 0 1em;
}

.cabecalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url("../images/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.container {
  display: flex;
  align-items: center;
}

.container__imagem {
  padding: 0 1em;
}

.container__imagem-secundario {
  padding: 0.2em;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
  z-index: 9;
}

.container__botao:checked ~ .lista-menu {
  display: block;
  cursor: pointer;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
  background-image: url("../images/menu_black.svg");
  text-align: center;
  padding: 15px 0;
}

.container__rotulo {
  cursor: pointer;
}

.container__botao:checked ~ .container__rotulo {
  background: var(--azul-degrade);
  padding: 0 16px;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: var(--fonte-bold);
}

.lista-menu__link {
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container__botao {
  display: none;
}

.container__titulo {
  display: none;
}

.opcoes {
  display: none;
}

.container__texto {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container__titulo,
  .container__titulo--negrito {
    font-family: var(--fonte-secundaria);
    font-size: 30px;
  }

  .container__titulo {
    font-weight: var(--fonte-regular);
    display: block;
  }

  .container__titulo--negrito {
    font-weight: var(--fonte-bold);
  }

  .opcoes {
    display: flex;
  }

  .opcoes__item {
    padding: 0 1em;
    text-transform: uppercase;
  }

  .opcoes__link {
    text-decoration: none;
    color: var(--preto);
  }

  .transparente {
    display: none;
  }

  .cabecalho {
    padding: 0 3em;
  }

  .opcoes__botao:checked ~ .lista-menu {
    display: block;
    width: auto;
  }

  .opcoes__botao {
    display: none;
  }

  .opcoes__botao:checked ~ .opcoes__rotulo {
    background: var(--azul-degrade);
    color: var(--branco);
  }

  .lista-menu__item:hover {
    background: var(--azul-degrade);
  }

  .lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
  }

  .opcoes__item {
    cursor: pointer;
    padding: 2em 1em;
  }

  .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
    background: var(--azul-degrade);
  }
}

@media screen and (min-width: 1729px) {
  .container__link {
    display: flex;
    align-items: center;
    margin-right: 1em;
    text-decoration: none;
    color: var(--preto);
  }

  .container__texto {
    display: block;
  }

  .opcoes {
    margin-left: 1em;
    margin-right: auto;
  }
}
