@import url("header.css");
@import url("banner.css");
:root {
  /* CORES */
  --cor-de-fundo: #ebecee;
  --branco: #ffffff;
  --laranja: #eb9b00;
  --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);

  /* FONTES */
  --fonte: "Poppins", sans-serif;
  --fonte-light: 300;
  --fonte-regular: 400;
  --fonte-medium: 500;
  --fonte-bold: 700;
}

body {
  font-family: var(--fonte);
  font-size: 16px;
  font-weight: var(--fonte-regular);
  background-color: var(--cor-de-fundo);
}
